APP_ENV=local
APP_DEBUG=true
APP_KEY=

# DINGO API
API_VERSION=v1
API_NAME=lumen-api
API_PREFIX=api
#API_DOMAIN=
API_STANDARDS_TREE=vnd
API_SUBTYPE=lumen

# JWT
JWT_SECRET=

DB_HOST=localhost
DB_DATABASE=homestead
DB_USERNAME=homestead
DB_PASSWORD=secret

CACHE_DRIVER=file
SESSION_DRIVER=file
QUEUE_DRIVER=database
